/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
  --primary-color: #2563EB;
  --secondary-color: #FBBF24;
}

/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Utility class for Playfair font */
.font-playfair {
  font-family: 'Playfair', serif !important;
}
